@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

html {
    scroll-padding-top: 120px;
    /* Offset for fixed navbar */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ee7f02;
    /* Primary Color */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d46f00;
}